#googlemap {
    bottom:0px;
    height: 100%;
    left: 362px;
    position:absolute;
    right:0px;
    
    
}

html{
    background-color: antiquewhite;
}
.options-box {
    background-color:antiquewhite;
   
    border-radius:3px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10x 5px 10px;
    text-align: left;
    width: 340px;
}

.State {
    width:200px;
    background-color: aqua;
}

#search-within-time-text{
    width: 200px
}


#search-within-time{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;


}

#show-listings{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;


}

#hide-listings{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;


}

#toggle-drawing{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;


}

#filter{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;


}

#filter2{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: auto;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

}

#state{
     border: 0;
   color: #EEE;
   background: transparent;
   font-size: 17px;
   font-weight: bold;
   padding: 2px 10px;
   width: 60px;
   
   background: #58B14C;
   
}

#city{
     border: 0;
   color: #EEE;
   background: transparent;
   font-size: 17px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100px;
   
   background: #58B14C;
   
}

#store-type{
     border: 0;
   color: #EEE;
   background: transparent;
   font-size: 17px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100px;
   
   background: #58B14C;
   
}